* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-1 {
  width: auto;
  height: 350px;
  background-color: #1F2937;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 20rem;
}

.links {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 20rem;
  gap: 4rem;
  list-style: none;
  text-decoration: none;
  gap: 3rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.text {
display: flex;
flex-direction: column;
gap: 1rem;
}

.text-1 {
  color: #f9faf8;
  font-size: 26px;
  font-weight: bolder;
}

.text-2 {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: normal;
}

.sign-in {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  color: #E5E7EB;
  padding: 4px;
  border: 1px solid #ffffff;
  border-radius: 5%;
  background-color: #3882f6 ;
}

.main-picture {
  width: 250px;
  height: 150px;
}

.section-2 {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.product-section {
  width: auto;
  height: 400px;
}

.product-section-title {
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-picture {
  width: 125px;
  height: 125px;
  border: 3px solid #3882f6;
  border-radius: 10%;
}

.card-section {
  display: flex;
  gap: 3rem;
}

.product-description {
  padding: 10px;
}

.quote-section {
  background-color: #E5E7EB;
  width: auto;
  height: 350px;
}

.quote {
  right: 25%;
  width: 50%;
  height: 50px;
  display: flex;
  align-self: center;
  color: #1F2937;
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
}

.signature {
  font-weight: bold;
}

.register-section {
  width: auto;
  height: 300px;
}

.register-box {
  width: 750px;
  height: 125px;
  background-color: #3882f6;
}

.register-text {
  display: flex;
  flex-direction: column;
}

.text-1 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

.text-2 {
  font-size: 16px;
  font-weight: lighter;
  color: #ffffff;
}

.register-sign-up {

}
